<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTDWeb Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>ru.bellintegrator.app.servlets.HelloWorldServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/directory</url-pattern>
    </servlet-mapping>
</web-app>